<% if (title) { %>
    <h1 id="accManagementTitle"><%= title %></h1>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% })%>
        </ul>
    <% } %>
    
    <% if (accountData) { %>
        <h3 id="accManagementWelcome">Welcome, <%= accountData.account_firstname %>.</h3>

        <p id="accManagementText">You're logged in!</p>

    <% } else { %>
        <p>You must log in to view this page.</p>
    <% } %>

<% } else {
    res.redirect('/')
} %>