<% 
    const d = new Date() 
    let year = d.getFullYear()
%>

<footer id="footer">
    <p id="copyright">&#169; <%= year %>, CSE 340 App</p>
    <p id="authorName">Made by Christian Peraza</p>
</footer>