<header id="header">
    <span id="siteName">
        <a href="/" title="Home page">CSE 340 Motors</a>
    </span>
    <div id="tools">
        <a href="/account/login" title="Click to log in">My account</a>
    </div>
</header>