<nav id="nav">
    <ul id="navList">
        <li class="navItems">Home</li>
        <li class="navItems">Custom</li>
        <li class="navItems">Sedan</li>
        <li class="navItems">SUV</li>
        <li class="navItems">Truck</li>
    </ul>
</nav>