<!-- banner section -->
<section id="banner">
    <h1>Welcome to CSE Motors!</h1>

    <div id="bannerContainer">
        <div id="bannerText">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dicel</p>
            <img src="/images/site/own_today.png" alt="Own today button image" width="100">
        </div>

        <picture>
            <source media="(min-width: 700px)" srcset="/images/vehicles/delorean.png">
            <img id="bannerImg" src="/images/vehicles/delorean-tn.jpg" alt="Delorean car">
        </picture>
    </div>
</section>

<div id="sectionsWrapper">
    <!-- reviews section -->
    <section id="reviews">
        <h1>DMC Delorean Reviews</h1>

        <ul id="reviewsList">
            <li class="reviewsItems">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="reviewsItems">"Coolest ride on the road." (4/5)</li>
            <li class="reviewsItems">"I'm feeling McFly!" (5/5)</li>
            <li class="reviewsItems">"The most futuristic ride of our day." (4.5/5)</li>
            <li class="reviewsItems">"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <!-- upgrades section -->
    <section id="upgrades">
        <h1>DMC Delorean Upgrades</h1>

        <div id="upgradesWrapper">
            <a href="#" class="upgradesItems">
                <div class="upgradesImgContainer">
                    <img src="/images/upgrades/flux-cap.png" alt="A capacitor" class="upgradesImg">
                </div>
                <p>Flux Capacitor</p>
            </a>
            <a href="#" class="upgradesItems">
                <div class="upgradesImgContainer">
                    <img src="/images/upgrades/flame.jpg" alt="A flame" class="upgradesImg">
                </div>
                <p>Flame Decals</p>
            </a>
            <a href="#" class="upgradesItems">
                <div class="upgradesImgContainer">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="A hello world sticker" class="upgradesImg">
                </div>
                <p>Bumper Stickers</p>
            </a>
            <a href="#" class="upgradesItems">
                <div class="upgradesImgContainer">
                    <img src="/images/upgrades/hub-cap.jpg" alt="A hub cap" class="upgradesImg">
                </div>
                <p>Hub Caps</p>
            </a>
        </div>
    </section>
</div>
