/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* --------------- ROOT --------------- */
:root {
  /* font */
  --inter: "Inter", serif;

  /* color scheme */
  --main-color: #01B0D3;
  --content-color: #242332;
  --border-color: #90949C;
}