/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--inter);
}

/* --------------- ROOT --------------- */
:root {
  /* font type */
  --inter: "Inter", serif;

  /* font size */
  --title-size: 20px;
  --content-size: 14px;

  /* font weight */
  --title-weight: 600;
  --content-weight: 400;

  /* color scheme */
  --main-color: #01B0D3;
  --content-color: #242332;
  --border-color: #90949C;
}

/* --------------- HEADER --------------- */
#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
/* site name */
#siteName a {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-decoration-line: none;
  color: var(--content-color);
}
/* my account link */
#tools a {
  font-size: var(--content-size);
  font-weight: var(--content-weight);
  text-decoration-line: none;
  color: var(--content-color);
}

/* --------------- NAVIGATION --------------- */
#nav {
  width: 100%;
  background-color: var(--content-color);
}
/* list */
#navList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
/* items */
.navItems {
  color: #fff;
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}
/* links */
.navLinks {
  color: #fff;
  text-decoration-line: none;
}
.navLinks:hover {
  text-decoration-line: underline;
}

/* --------------- MAIN - INDEX --------------- */
/* banner section */
#banner {
  width: 100%;
  margin: 30px 0 50px 0;
}
#banner h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}
#bannerContainer {
  position: relative;
  text-align: end;
}
#bannerText {
  position: absolute;
  left: 14px;
  top: 0;
  text-align: start;
  color: var(--main-color);
  background-color: #ffffff9d;
}
#bannerText h2 {
  font-size: 16px;
  font-weight: var(--title-weight);
  margin: 2px 0;
}
#bannerText p {
  font-size: var(--content-size);
  font-weight: var(--content-weight);
  margin: 2px 0;
}
/* reviews section */
#reviews {
  width: 100%;
  margin: 40px 0;
}
#reviews h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}
#reviewsList {
  padding-left: 20px;
}
.reviewsItems {
  font-size: var(--content-size);
  font-weight: var(--content-weight);
  margin: 10px 0;
}
/* upgrades section */
#upgrades {
  width: 100%;
  margin: 40px 0;
}
#upgrades h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}
#upgradesWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  row-gap: 20px;
}
.upgradesItems {
  text-align: center;
}
.upgradesItems p {
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}
.upgradesImgContainer {
  background-color: var(--main-color);
  border: solid 2px var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.upgradesImgContainer img {
  width: auto;
  height: auto;
}

/* --------------- INVENTORY --------------- */
#invTitle {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  margin-top: 30px;
}
#inv-display {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
  margin: 20px auto 30px auto;
}
.invItems {
  border: solid 1px var(--border-color);
  border-radius: 8px;
  max-width: 200px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 140px));
  height: auto;
}
.invImg {
  border-radius: 8px 8px 0 0;
  width: 100%;
}
.namePrice {
  text-align: center;
}
.namePrice h2 {
  margin-bottom: 0;
  margin: 8px 5px 0 5px;
}
.invLine {
  border: solid 2px var(--content-color);
}
.invNameLink {
  font-size: var(--content-size);
  font-weight: var(--title-weight);
  text-align: center;
}
.invPrice {
  margin-top: 8px;
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}

/* --------------- DETAILS --------------- */
#detTitle {
  font-size: 20px;
  font-weight: var(--title-weight);
  margin-top: 30px;
}
#detailContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px 0;
}
.detImg {
  width: 100%;
}
.namePriceDescription h2 {
  font-size: var(--content-size);
}
.detPrice, .detColor {
  background-color: rgb(236, 236, 236);
}
.detPrice, .detColor, .detDesc, .detMiles {
  padding: 15px 20px;
  margin: 0;
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}

/* --------------- FOOTER --------------- */
#footer {
  width: 100%;
  padding: 20px 0;
}
/* copyright */
#copyright {
  margin: 0;
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}
/* author name */
#authorName {
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}

/*************** MEDIA QUERIES ***************/
@media (min-width: 700px) {
  /* ROOT */
  :root {
    --title-size: 24px;
    --content-size: 16px;
  }

  /* HTML */
  html {
    background-image: url(../images/site/small_check.jpg);
  }

  /* BODY */
  body {
    width: 70%;
    background-color: #fff;
    margin: 10px auto;
    border: solid 5px var(--main-color);
    border-radius: 10px;
    padding: 10px;
  }

  /* HEADER */
  #siteName a {
    font-size: 32px;
  }

  /* NAVIGATION */
  #navList {
    padding: 16px 100px;
  }

  /* BANNER */
  #banner h1 {
    font-size: 28px;
  }
  #bannerContainer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  #bannerText h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  #bannerText p {
    font-size: 18px;
    margin: 5px 0;
  }
  #bannerText img {
    width: 150px;
    margin: 20px 0;
  }

  /* SECTIONS */
  #sectionsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  #reviews, #upgrades {
    margin-top: 0;
  } 
  #reviews {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .reviewsItems {
    margin: 20px 0;
  }
  #upgrades {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* INVENTORY */
  #invTitle {
    font-size: 28px;
  }
  #inv-display {
    width: 95%;
  }

  /* DETAILS */
  #detTitle {
    font-size: 28px;
  }
  .namePriceDescription h2 {
    margin-top: 0;
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 800px;
  }
}