<% if (title) { %>
    <h1 id="managementTitle"><%= title %></h1>

    <%- messages() %>

    <ul id="managementList">
        <li class="managementItems"><a class="managementLinks" href="/inv/new-class">Add new classification</a></li>
        <li class="managementItems"><a class="managementLinks" href="/inv/add-inventory">Add new inventory</a></li>
    </ul>
<% } else {
    res.redirect('/')
} %>

<%# grid %>